<!DOCTYPE html>

{% extends "base.html" %}

{% block content %}

<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="row">
        <div class="col">
            <div class="form-group">
                {{ form.name(class="form-control", placeholder="名前") }}
                {% for error in form.name.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                {{ form.business(class="form-control", placeholder="案件名") }}
                {% for error in form.business.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-6">
            <div class="form-group">
                {{ form.order(class="form-control", placeholder="受注番号") }}
                {% for error in form.order.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                {{ form.detail(class="form-control", placeholder="製品番号") }}
                {% for error in form.detail.errors %}
                <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <div>{{ form.submit(class="btn btn-primary") }}</div>
</form>

{% endblock %}
